<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>Controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBirdFormController</servlet-name>
        <servlet-class>Controller.UpdateBirdFormController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCourseUserController</servlet-name>
        <servlet-class>Controller.ListCourseUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCourseByOptionController</servlet-name>
        <servlet-class>Controller.SearchCourseByOptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCourseToCartController</servlet-name>
        <servlet-class>Controller.AddCourseToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailAndRegisterCourseController</servlet-name>
        <servlet-class>Controller.DetailAndRegisterCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisCourseController</servlet-name>
        <servlet-class>Controller.RegisCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportPageController</servlet-name>
        <servlet-class>Controller.ReportPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendReportController</servlet-name>
        <servlet-class>Controller.SendReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportController</servlet-name>
        <servlet-class>Controller.ViewReportController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBirdFormController</servlet-name>
        <url-pattern>/UpdateBirdFormController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCourseUserController</servlet-name>
        <url-pattern>/ListCourseUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCourseByOptionController</servlet-name>
        <url-pattern>/SearchCourseByOptionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCourseToCartController</servlet-name>
        <url-pattern>/AddCourseToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailAndRegisterCourseController</servlet-name>
        <url-pattern>/DetailAndRegisterCourseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisCourseController</servlet-name>
        <url-pattern>/RegisCourseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportPageController</servlet-name>
        <url-pattern>/ReportPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendReportController</servlet-name>
        <url-pattern>/SendReportController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportController</servlet-name>
        <url-pattern>/ViewReportController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
