/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 2, 2023, 7:07:16 PM
    Author     : PC
*/

.container-account{
    width: 100%;
}

.container-function{
    width: 20%;
    height: 20%;
}

.search-root{
    display: flex;
    justify-content: center;
}